/* HEADER CSS */
.header {
    width: 100%;
    height: 106px;
    max-height: 106px;
    border-bottom: solid 2px #FF9505;
    position: sticky;
}

.brand {
    font-family: 'Akira Expanded';
    font-size: 40px;
    color: white;
    margin-bottom: 18px;
    padding-left: 35px;
}

.headerContent {
    width: 1920px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 602px;
    display: flex;
    align-items: flex-end;
}

.logoImage {
    margin-bottom: 11px;
}

.navigation {
    width: 1126px;
    height: 106px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
}

.navLink {
    font-family: 'Akira Expanded';
    font-size: 16px;
}

.navLink:hover {
    color: #FF9505;
}

.navItem {
    margin-bottom: 32px;
}

a {
    color: white;
    text-decoration: none;
}

/* HEADER CSS ENDS */
/* FIRST SECTION CSS */
.firstSection {
    display: grid;
    grid-template: 
    "a b" 100%
    ;
    width: 100%;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    height: 85vh;
}

.firstSectionImage {
    grid-area: a;
    grid-column: 1;
}

.designImage {
    width: 35vw;
    padding-top: 10vh;
    padding-left: 10vw;
}

.firstSectionContent {
    background-color: #FF9505;
    grid-area: b;
    grid-column: 2;
}

.solutionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 5vw;
}

.solutionsTitle {
    font-family: 'Akira Expanded';
    font-size: 40px;
}

.solutionsSubTitle {
    font-family: 'Poppins';
    font-size: 40px;
}

.solutionsBodyText {
    width: 30vw;
    font-family: 'Poppins';
    font-size: 24px;
    padding: 74px 0px 64px 0px;
}

.button1 {
    background: black;
    border-radius: 8px;
    border: none;
    height: 66px;
    width: 217px;
    color: white;
    font-family: 'Akira Expanded';
    font-size: 16px;
    margin-right: 24px;
}

.button1:hover {
    background: #FF9505;
    color: black;
    border-radius: 8px;
    border: solid 2px black;
    height: 66px;
    width: 217px;
    font-family: 'Akira Expanded';
    font-size: 16px;
}

.button2 {
    background: #FF9505;
    color: white;
    border-radius: 8px;
    border: solid 2px black;
    height: 66px;
    width: 217px;
    font-family: 'Akira Expanded';
    font-size: 16px;
}

.button2:hover {
    background: black;
    color: #FF9505;
    border-radius: 8px;
    border: none;
    height: 66px;
    width: 217px;
    font-family: 'Akira Expanded';
    font-size: 16px;
}

.trustedByContainer {
    width: 100%;
    height: 20vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trustedByTitle {
    font-family: 'Akira Expanded';
    font-size: 32px;
    padding: 32px 0px 0px 0px;
}

.trustedImages {
    display: flex;
    flex-direction: row;
    align-items: baseline;
   /* justify-content: space-evenly;*/
    height: 100%;
    padding: 51px 0px 0px 0px;

}

.teamContainer {
    height: 100%;
    display: grid;
    grid-template:
    "a1" 23vh
    "b1" 600px
    ;
    justify-content: center;
}

.teamTitleContainer {
    grid-area: a1;
}

.trustedLogo {
    padding: 0px 50px 0px 50px;   
}

.teamTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Akira Expanded';
    color: white;
    font-size: 40px;
    padding: 72px 0px 0px 0px;
}

.teamSubTitle {
    font-family: 'Poppins';
    color: white;
    font-size: 24px;
    padding: 10px 0px 0px 0px;
    width: 1328px;
}

.teamCards {
    grid-area: b1;
    padding: 61px 0px 0px 0px;
    display: grid;
    grid-template:  
    "a a a b b b" 45vh
    "c c d d e e" 64vh
    ;
    width: 69vw;
    gap: 14px;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.teamImage {
    width: 100%;
}

.topCard {
    min-height: 434.7px;
}

.bottomCard {
    min-height: 618.233px;
}

.giovana {
    grid-area: a;
    background-color: #FF9505;
}

.corey {
    grid-area: b;
    background-color: #FF9505;
}

.aaron {
    grid-area: c;
    background-color: #FF9505;
}

.mariela {
    grid-area: d;
    background-color: #FF9505;
}

.rose {
    grid-area: e;
    background-color: #FF9505;
}

.teamNameTop {
    padding: 15px 0px 0px 45px;
    font-family: 'Akira Expanded';
    font-size: clamp(16px, 1vw, 24px);
}

.teamBioTop {
    padding: 6px 0px 0px 45px;
    width: 90%;
    font-family: 'Poppins';
    font-weight: light;
    font-size: 14px;
    font-size: clamp(12px, 1vw, 14px);
}

.teamNameBottom {
    padding: 25px 0px 0px 45px;
    font-family: 'Akira Expanded';
    font-size: clamp(16px, 1vw, 24px);
}

.teamBioBottom {
    padding: 17px 0px 0px 45px;
    width: 90%;
    font-family: 'Poppins';
    font-weight: light;
    font-size: 14px;
    width: 363px;
}

.sectionSpacer1 {
    height: 100vh;
}

/* DESKTOP - SMALLER SCREEN SIZE */

@media only screen and (max-width: 1600px) {
    .headerContent {
        width: 100vw;
    }
    .logo {
        padding-left: 10%;
    }
    .designImage {
        padding-top: 10vh;
        padding-left: 12vw;
    }
    .solutionsBodyText {
        font-size: 20px;
        padding-top: 44px;
        padding: 44px 0px 34px 0px;
    }
    .solutionsTitle {
        font-size: 40px;
    }
    
    .solutionsSubTitle {
        font-size: 40px;
    }

}